*{
margin: 0%;
padding: 0%;
}
header{
  background: color #969696; ;
  font-size: 30px;
  text-align: center;
  display: flex;  
}

h1{
  padding: 0 300px 0 210px;
  margin: 1%;
}
html{
   background-color: #a2a2a2;
   
}

